<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
    <form action="/view" method="get">
		URL:<input type="text" name="url"><br>
		<input type="submit" value="VR!">
	</form>
	
</body>
</html>
